.card-footer
{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: none;
}

.card-footer .trash
{
    cursor: pointer;
    color: rgb(123, 207, 235);
}

.card-footer .trash:hover
{
    color: red;
}

.img-upload
{
    width: 150px;
}

form{
    display: flex;
    flex-direction: column;
}

form .imgtitle
{
    width: 300px;
    max-width: 280px;
    background-color: whitesmoke;
    color: grey;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

form .imgBarr
{
    display: inline-flex;
    width: 350px;
    max-width: 280px;
    height: 200px;
    border-radius: 20px;
    gap: 4px;
    justify-content: center;
    align-items: flex-start;
    line-height: 50px;
    background-image: url(../../assets/upload.png);
    background-size: cover;
    cursor: pointer;
}

form .imgBarr span
{
    color: rgb(109, 166, 185);
    font-style: italic;
    cursor: pointer;
}