nav
{
    background-color: rgb(80, 197, 236);
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.flexbox
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flexbox div
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flexbox div h2
{
    margin: 0;
}

.menu {
    cursor: pointer;
    margin-right: 3px;
}

@media screen and (max-width: 567px){

    .flexbox div h2
    {
        font-size: 1.2rem;
    }
    
    .menu 
    {
        font-size: medium;
    }
}